<div class="avatar-wrapper">
    <%= image_tag(current_user.avatar.url(:thumb), class: "comment-avatar") %>
</div>
<div class="comment-wrapper">
<%= simple_form_for :comment,
                    :url => { controller: "comments",action: "create"},
                    :html => {:class => 'form-inline comment_form span12'} do |f| %>
  <%= f.input :upload_image_id, as: :hidden, :input_html => { :value => image.id } %>
  <%= f.input :content, as: :text,
                        label: false,
                        :input_html => { placeholder:"Write a comment ...", rows: 2, cols: 30}
  %>

  <div class="submit-area">
    <%= f.button :submit, "Comment" %>
  </div>
<% end %>
</div>
<div style="clear: left;"></div>
