<div class="well" style="text-shadow: 0 1px 0 white;">
<ul class="breadcrumb">
  <li><a href="<%= publishers_path %>">Tracking System</a>
  <span class="divider">/</span></li>
  <li class="active">Shortened links</li>
</ul>

<h3>Your shortened urls</h3>

<table class="table">
  <tr>
    <th>Shortened url</th>
    <th>Original url</th>
    <th>Visit</th>
    <th></th>
  </tr>
  <% @urls.each do |url| %>
    <tr>
      <td><a href="<%= current_user.shorten_domain + '/s/' + url.unique_key %>">
          <%= current_user.shorten_domain + '/s/' + url.unique_key %>
      </a></td>
      <td><a href="<%= url.url %>">
          <%= url.url %>
      </a></td>
      <td><%= url.use_count %></td>
      <td>
        <%= link_to raw("<i class='icon-remove-sign'></i>"), url_path(url),
            method: :delete, data: {confirm: 'Are you sure?'} %>
      <td>
    </tr>
  <% end %>
</table>

</div>
