<div class="counter">
  <p class="number"> <%= "#{page.page_no}" %> </p>
  <h4 class="title"> <%= "#{page.title}" %> </h4>
</div>
<div class="embed">
  <img id="page-image" itemprop="image" src="<%= page.image.url(:medium) %>"
  alt="<%= page.title %>"><a href="<%= page.full_citation %>" class="source"></a>
</div>
<% page.bodys.each do |body| %>
  <p> <%= body %> </p>
<% end %>
