<li>
  <label type="file" for="image" class="upload-mask"></label>
  <table>
    <tbody>
    <tr>
      <td style="background-image: url(<%= page.thumbnail %>);" class="image">
        <div class="index">
          <input id="index" type="text" name="page_<%=page.id%>[page_no]"
                 form="edit-article" readonly value="<%= page.page_no %>" >
        </div>
        <ul class="item-menu">
          <li><%= link_to page_path(page), method: :delete,
                          data: { confirm: 'Are you sure?'} do %>
            <i class="fa fa-trash space"></i>Del
          <% end %></li>
        </ul>
      </td>
      <td class="form">
        <div class="row">
          <div class="columns">
            <input id="page-title" type="text" name="page_<%=page.id%>[title]"
                   form="edit-article" class="dark" value="<%= page.title %>"
                   placeholder="Page title">
          </div>
          <div class="columns">
            <input id="page-image-source" type="text" class="dark"
                   name="page_<%=page.id%>[citation]" value="<%=page.citation%>"
                   form="edit-article" placeholder="Citation URL">
          </div>
          <div class="columns">
            <textarea id="page-description" name="page_<%=page.id%>[body]"
                      form="edit-article" placeholder="Page body"
                      rows="10" class="dark"><%=page.body%></textarea>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</li>
