<% content_for :csstail do %>
  <%= stylesheet_link_tag "jquery.ias" %>
<% end %>
<% content_for :head do %>
<meta name="twitter:card" content="gallery">
<meta name="twitter:site" content="@DuyLLC">
<meta name="twitter:title" content="Trendsread">
<meta name="twitter:description" content="Everything Worth Trending">
  <% if @articles[0] == nil %>
    <meta name="twitter:image0" content="<%= image_tag("/logo.png") %>">
  <% else %>
    <meta name="twitter:image0" content="<%= @articles[0].thumbnail %>">
  <% end %>
  <% if @articles[1] == nil %>
    <meta name="twitter:image0" content="<%= image_tag("/logo.png") %>">
  <% else %>
    <meta name="twitter:image1" content="<%= @articles[1].thumbnail %>">
  <% end %>
  <% if @articles[2] == nil %>
    <meta name="twitter:image0" content="<%= image_tag("/logo.png") %>">
  <% else %>
    <meta name="twitter:image2" content="<%= @articles[2].thumbnail %>">
  <% end %>
  <% if @articles[3] == nil %>
    <meta name="twitter:image0" content="<%= image_tag("/logo.png") %>">
  <% else %>
    <meta name="twitter:image3" content="<%= @articles[3].thumbnail %>">
  <% end %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag "jquery-ias.min" %>
  <script type="text/javascript" src="/components/bxslider-4/jquery.bxslider.min.js"></script>
  <%= javascript_include_tag "articles" %>
<% end %>

<% content_for :banner do %>
  <%= @trending.html_safe %>
<% end %>

<div class="row">
  <div class="columns">
    <ul class="feeds small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      <% @articles.each_with_index do |article, index| %>
        <% if index == 2 %>
          <li class="wow fadeIn">
            <%= render partial: "layouts/subscribe" %>
          </li>
        <% end %>
        <li class="article wow fadeIn"><a href="<%= article_url article %>">
          <div style="background-image: url(<%= article.thumbnail %>);" class="image"></div>
          <div class="info">
            <h3 class="title"><%= article.title %></h3>
            <span class="category"><%= article.category.name %></span>
          </div>
        </a></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="flickr_pagination">
  <%#= will_paginate @articles %>
  <div class="page_info">
  </div>
</div>
