<div class="row">
  <div class="small-12 medium-7 medium-centered large-6 columns">
    <div class="badge-form fadeIn animated">
      <h3 class="title">New Article</h3>
      <div class="content">
        <%= simple_form_for(@article,
                            :html => {:id=>"upload", :class => ""}) do |f| %>
          <div class="row">
            <div class="small-12 columns">
              <label>Article Title
                <%= f.text_field :title,
                  class: "dark", placeholder: "Article title" %>
                <% if @article.errors[:title] != [] %>
                  <small class="error" id="title-error">
                    <%= @article.errors[:title][0] %>
                  </small>
                <% end %>
              </label>
            </div>
            <div class="small-12 columns">
              <label>Category
                <select class="dark" id="article_category_id" name="article[category_id]">
                  <% Category.main_categories.each do |cat| %>
                    <optgroup label="<%= Category.category_tree[cat.id][0].name %>">
                    <% Category.category_tree[cat.id].each_with_index do |sub_cat, index| %>
                      <option value="<%= sub_cat.id %>"><%= sub_cat.name %></option>
                    <% end %>
                    </optgroup>
                  <% end %>
                </select>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns text-right">
              <%= f.button :submit, "Create", class: "button badge-color" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
