<% if @article.title != nil %>
<% content_for :title, @article.title.upcase %>
<% else %>
<% content_for :title, "Trendsread" %>
<% end %>
<% content_for :head do %>
  <meta name="twitter:card" content="photo">
  <meta name="twitter:site" content="@DuyLLC">
  <meta name="twitter:title" content="<%= @article.title %>">
  <% if @page != nil %>
    <meta name="twitter:image:src" content="<%= @page.image.url(:medium) %>">
  <% end %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag "articles-show" %>
  <%= javascript_include_tag "page.view.js" %>

  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5459a18c0cf8482a" async="async"></script>
<% end %>

<% content_for :writer_menu do %>
  <li><a href="<%= edit_article_path @article %>">
    <i class="fa fa-pencil space-10"></i>Edit this post</a></li>
<% end %>

<div class="row"> <div class="columns"> <div class="row">
  <div class="columns small-12 medium-7 large-8">
    <div class="page feed color-<%= @article.category.parent.try(:color) || @article.category.color %>">
      <div class="header">
        <div class="row collapse">
          <div class="columns small-12 medium-4 large-3">
            <div class="info">
              <p class="category"><%= @article.category.name %></p>
              <p class="author"><%= @article.author.name rescue "" %></p>
              <p class="updated"><%= @article.publish_date.try(:strftime, "%b %d, %Y") %></p>
            </div>
          </div>
          <div class="columns small-12 medium-8 large-9">
            <h1 class="title"><%= @article.title %></h1>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="navigation hide-for-small-only">
          <div class="row">
            <div class="columns">
              <a href="<%= article_path(@previous_id) rescue root_path %>"
              class="button color tiny left radius"><i class="fa fa-arrow-left"></i> Previous</a>
              <a href="<%= article_path(@next_id) rescue root_path %>"
                class="button color tiny right radius">Next <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div data-reveal-id="subscribe-modal" class="sharing right unfloat-for-small">
          <div class="addthis_sharing_toolbox"></div>
        </div>
        <div class="article">
          <% @article.intros.each do |intro| %>
            <p> <%= intro %> </p>
          <% end %>
          <ul class="board <%= "no-counter-number" unless @article.is_list %>">
          <% @pages.reverse.each do |page| %>
            <li>
            <%= render partial: "page", locals: { page: page } %>
            </li>
          <% end %>
          </ul>
        </div>
        <div class="sharing">
          <div data-reveal-id="subscribe-modal" class="addthis_sharing_toolbox"></div>
        </div>
        <div class="navigation">
          <div class="row">
            <div class="columns">
              <a href="<%= article_path(@previous_id) rescue root_path %>"
              class="button color tiny left radius"><i class="fa fa-arrow-left"></i> Previous</a>
              <a href="<%= article_path(@next_id) rescue root_path %>"
                class="button color tiny right radius">Next <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns small-12 medium-5 large-4">
    <ul class="feeds small-block-grid-1">
      <li class="wow fadeIn">
        <%= render partial: "layouts/subscribe" %>
      </li>
      <% @recommend_articles.each do |article| %>
        <li class="wow fadeIn">
          <a href="<%= article_path article %>">
            <div style="background-image: url(<%= article.thumbnail %>);"
              class="image"></div>
            <div class="info">
              <span class="category"><%= article.category.name %></span>
              <h3 class="title"><%= article.title %></h3>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
    <div class="facebook-box block">
      <h1 class="title">Facebook</h1>
      <div class="content">
        <div data-href="https://www.facebook.com/FacebookDevelopers" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false" data-width="100%" data-height="350" class="fb-like-box"></div>
      </div>
    </div>
  </div>
</div> </div> </div>
