<div class="chrome-square inner-space" style="text-shadow: 0 1px 0 white;">
<ul class="breadcrumb">
  <li><a href="<%= publishers_path %>">Tracking System</a>
  <span class="divider">/</span></li>
  <li class="active">Publishers</li>
</ul>

<hr class="tracking">
<%= render partial: 'time_range',
  locals: {startDate: @startDate, endDate: @endDate} %>
<h3> Publisher </h3>
<%= link_to 'New Publisher', new_publisher_path, class: 'btn btn-primary' %>
<%= link_to 'Download Publisher Spreadsheet', generate_publisher_sheet_publishers_path(:format => :xlsx, :startDate => @startDate, :endDate => @endDate), class: 'btn btn-inverse', id: 'publishers-spreadsheet' %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Domain</th>
      <th>Pageview</th>
      <th>Clicks</th>
      <th>Earned Money</th>
      <th>Payment Method</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @publishers.each_with_index do |p, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%=link_to p.name, publisher_path(p) %></td>
      <td class="truncate"><p data-toggle="tooltip" title="<%= p.user.user_name %>"><%= p.user.user_name %></p></td>
      <td class="truncate"><a href="mailto:<%= p.user.email %>" data-toggle="tooltip" title="<%=p.user.email%>"><%= p.user.email %></a></td>
      <td class="truncate"><p data-toggle="tooltip" title="<%= p.get_domain %>"><%= p.get_domain %></p></td>
      <% if @report_dictionary.key? p.get_domain %>
        <td class="pageview"><%= number_to_currency(@report_dictionary[p.get_domain][:pageview] * @threshold,
                                   :precision => 0,
                                   :unit => "") %></td>
        <td class="click"><%= number_to_currency(@report_dictionary[p.get_domain][:clicks] * @threshold,
                                   :precision => 0,
                                   :unit => "") %></td>
        <td class="earning"><%= number_to_currency(@report_dictionary[p.get_domain][:earning] * @threshold)%></td>
      <% else %>
        <td class="pageview">0</td>
        <td class="click">0</td>
        <td class="earning">$0</td>
      <% end %>
        <td class="payment-method">
          <%= p.payment %>
        </td>
      <td>
        <%= link_to raw("<i class='icon-pencil'></i>"), edit_publisher_path(p) %>
        <%= link_to raw("<i class='icon-remove'></i>"), publisher_path(p), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Total</td>
    <td id="pageview-sum">
    </td>
    <td id="click-sum">
    </td>
    <td id="earning-sum">
    </td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
<% if current_user.super_admin? %>
<div class="row">
  <div class="span5">
    <h3> Threshold configuration </h3>
    <%= simple_form_for(:tracking,
                        :url => update_threshold_publishers_path,
                        :method => "post",
                        ) do |f| %>
    <% if @threshold %>
      <%= f.input :threshold, label: "Threshold",
        input_html: { value: @threshold } %>
      <%= f.input :domain, label: "Tracking domain",
        input_html: { value: @tracking_domain } %>
    <% end %>
    <%= f.button :submit, "Save", :class => "btn btn-danger" %>
    <% end %>
  </div>
</div>
</div>
<script type="text/javascript">
  Number.prototype.number_with_delimiter = function(delimiter) {
    var number = this + '', delimiter = delimiter || ',';
    var split = number.split('.');
    split[0] = split[0].replace(
      /(\d)(?=(\d\d\d)+(?!\d))/g,
      '$1' + delimiter
    );
    return split.join('.');
  };
  var $pageviews = $(".pageview");
  var pvtotal = 0;
  $pageviews.each(function(){
    pvtotal += parseInt($(this).text().replace(/[$,]/g, ''));
  });
  $("#pageview-sum").html(pvtotal.number_with_delimiter());
  var $clicks = $(".click");
  var ctotal = 0;
  $clicks.each(function(){
    ctotal += parseInt($(this).text().replace(/[$,]/g, ''));
  });
  $("#click-sum").html(ctotal.number_with_delimiter());
  var $earnings = $(".earning");
  var etotal = 0;
  $earnings.each(function(){
    etotal += parseFloat($(this).text().replace(/[$,]/g, ''));
  });
  etotal = Math.round(etotal*100)/100;
  $("#earning-sum").html("$" + etotal.number_with_delimiter());
</script>
<% end %>
