<li>
  <div class="avatar-wrapper">
    <%= image_tag(comment.user.avatar.url(:thumb), class: "avatar-thumb") %>
  </div>
  <div class="comment-content">
      <div class="content">
        <strong><%= link_to comment.user.user_name, comment.user %></strong>
        <%= comment.content %>
      </div>

      <small class="timestamp">
        <%= time_ago_in_words(comment.created_at) %> ago.
        <% if user_signed_in? %>
          <% if current_user.id == comment.user.id || current_user.admin? %>
            <%= link_to "Delete", comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        <% end %>
      </small>
  </div>
</li>