<div id="inner-container" class="chrome-square">
    <div class="span12 user_info">
        <div class="info_left">
            <div id="avatar">
                <img src="<%= @user.avatar.url(:thumb) %>" alt="" id="img-polaroid">
            </div>
            <div id="username">
                <h4><%= @user.user_name %></h4>
                <% if user_signed_in? && current_user.id == @user.id %>
                    <a href="<%= edit_user_path(@user) %>">
                        <i class="icon-edit" title="Edit profile"></i>
                    </a>
                <% end %>
                <% if user_signed_in? && current_user.id == @user.id %>
                    <% if current_user.publisher %>
                        <p><%= link_to "View your statistic",publisher_path(current_user.publisher) %></p>
                    <% end %>
                <% end %>
            </div>
        </div>
        <div class="info_right">
            <div class="view-counter">
                <span class="number"><%= @total_views %></span>
                <span class="type">views</span>
            </div>
            <div class="like-counter">
                <span class="number"><%= @total_likes %></span>
                <span class="type">likes</span>
            </div>
        </div>
        <div style="clear: left;"></div>
    </div>
</div>
<!--
<div class="row-fluid" id="content">
    <div class="span4" id="first-column">
    <% @images.each_with_index do |image, index| %>
        <% if index % 3 == 0 and !@from_mobile %>
                <%= render partial: "upload_images/thumbnail", locals: {image: image} %>
        <% end %>
    <% end %>
    </div>

    <div class="span4" id="second-column">
    <% @images.each_with_index do |image, index| %>
        <% if index % 3 == 1 and !@from_mobile %>
                <%= render partial: "upload_images/thumbnail", locals: {image: image} %>
        <% end %>
    <% end %>
    </div>

    <div class="span4" id="third-column">
    <% @images.each_with_index do |image, index| %>
        <% if index % 3 == 2 or @from_mobile %>
                <%= render partial: "upload_images/thumbnail", locals: {image: image} %>
        <% end %>
    <% end %>
    </div>
</div>

<div class="flickr_pagination">
    <%= will_paginate @images %>
    <div class="page_info">
    </div>
</div>
-->
