<div id="header">
  <% if !session[:mobile_detected] %>
      <div id="logo-visible-large" class="logo visible-desktop">
        <%= link_to image_tag("/logo.png", :width=> 126, :height=> 144), root_path,  :title => "Back to home page" %>
      </div>
  <% else %>
      <div class="hidden-desktop pull-right" id="mobile-logo">
        <%= link_to image_tag("/logo.png", :width=> 65, :height=> 65), root_path,  :title => "Back to home page" %>
      </div>
  <% end %>
  <div id="top" class="header">
    <div id="h2">
      <% if session[:mobile_detected] %>
          <div class="dropdown hidden-desktop">
            <a class="dropdown-toggle pull-left" id="dLabel" role="button"
               style="zoom: 1.4;"
               data-toggle="dropdown" data-target="#" href="#">
              <i class="icon-align-justify"></i>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li>
                <%= link_to "Home", root_path, :title => "Home page"%>
              </li>
              <li><%= link_to "Random", random_path, :title => "Random" %></li>
              <li><%= link_to "Popular", :controller => '/popular', :action => :article_index %></li>
              <li><a href="<%= articles_path(:category=>Settings.isolated_cat_id) %>"><%= Settings.isolated_cat_name %></a></li>
              <!---
                    <li><%# link_to "User's Posts", upload_images_path, :title => "Open Users' Posts"%></li>
                    -->
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Categories</a>
                <ul class="dropdown-menu">
                  <% for category in Category.order('name ASC') %>
                      <% if category.id != Settings.isolated_cat_id %>
                          <li><a href="<%= articles_path(:category=>category.id) %>"><%= category.name %></a></li>
                      <% end %>
                  <% end %>
                </ul>
              </li>
              <% if user_signed_in? %>
                  <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
                  <% if current_user.publisher != nil %>
                      <li><%= link_to "Statistic", publisher_path(current_user.publisher.id) %></li>
                  <% end %>
                  <!--
                        <li><%# link_to "My Images", user_path(current_user)%></li>
                        -->
                  <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
              <% else %>
                  <li><%= link_to "Sign in", new_user_session_path %></li>
                  <li><%= link_to "Sign up", new_user_registration_path %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <ul class="nav nav-tabs" id="main-menu">
        <li class="hidden-phone" ><%= link_to "Home", root_path, :title => "Home page"%></li>
        <li class="hidden-phone" ><%= link_to "Random", random_path, :title => "Random" %></li>
        <li class="hidden-phone" ><%= link_to "Popular", :controller => '/popular', :action => :article_index %></li>
        <li class="hidden-phone" ><a href="<%= articles_path(:category=>Settings.isolated_cat_id) %>"><%= Settings.isolated_cat_name_cap %></a></li>
        <!--
                <li class="hidden-phone" ><%# link_to "User's Posts", upload_images_path, :title => "Open Users' posts"%></li>
                -->
        <li class="hidden-phone dropdown" >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Categories
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" style="margin-left: 0px;">
            <% for category in Category.order('name ASC') %>
                <% if category.id != Settings.isolated_cat_id %>
                    <li><a href="<%= articles_path(:category=>category.id) %>"><%= category.name %></a></li>
                <% end %>
            <% end %>
          </ul>
        </li>
        <% if user_signed_in? %>
            <!--
              <li>
              <a href="#myModal" data-toggle="modal">
                  <i class="icon-plus-sign"></i>
                  Upload Image
              </a>
              </li>
            -->
        <% end %>
      </ul>
      <% if !session[:mobile_detected] %>
          <div class="functions visible-desktop">
            <a href="https://www.facebook.com/pages/Teens-Digest/672493162777497"> Like Us</a>
            <a href="https://twitter.com/DuyLLC"> Follow Us</a>
            <a href="https://plus.google.com/105156720476721818430/posts"> +1 Us</a>
            <% if user_signed_in? %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <% if current_user.user_name and current_user.user_name != '' %>
                      <%= current_user.user_name %>
                  <% else %>
                      <%= current_user.email %>
                  <% end %>
                  <b class="caret" style="vertical-align:middle;"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
                  <% if current_user.publisher != nil %>
                      <li><%= link_to "Statistic", publisher_path(current_user.publisher.id) %></li>
                  <% end %>
                  <!--
                      <li><%# link_to "My Images", user_path(current_user)%></li>
                      -->
                  <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
                  <li></li>
                </ul>
            <% else %>
                <%= link_to "Sign In", new_user_session_path %>
                <%= link_to "Sign Up", new_user_registration_path %>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
</div>

