<div id="side-menu" class="overlay hidden">
  <div id="popup" style="right: -320px;">
    <div id="popup-header">
      <i class="icon-close" id="popup-close" style="cursor: pointer;"></i>
    </div>
    <div id="popup-content">
      <div id="popup-content-inner">
          <div id="copyright">
            <ul>
              <% if user_signed_in? %>
                <% if current_user.admin? %>
                    <li class="copyright-li"><%= link_to "Admin Panel", rails_admin_path, :class => "copyright-a" %></li>
                <li class="copyright-li"><%= link_to "Start Scanner", filter_brokenscanner_path, :class => "copyright-a"  %></li>
                <li class="copyright-li"><%= link_to "Broken List", filter_broken_path, :class => "copyright-a"  %></li>
                <li class="copyright-li"><%= link_to "Messages", messages_path, :class => "copyright-a"  %></li>
                <% end %>
                <% if current_user.writer? or current_user.admin?  %>
                <li class="copyright-li"><%= link_to "Your Articles", filter_all_path, :class => "copyright-a"  %></li>
                <li class="copyright-li"><%= link_to "New Article", new_article_path, :class => "copyright-a"  %></li>
                <% end %>
                <li class="copyright-li"><%= link_to "Edit Profile (" + current_user.user_name + ")", edit_user_path(current_user), :class => "copyright-a"  %></li>
                <% if current_user.publisher != nil %>
                  <li class="copyright-li"><%= link_to "Statistic",
                    publisher_path(current_user.publisher.id), :class => "copyright-a"  %></li>
                <% end %>
                <li class="copyright-li"><%= link_to "Sign Out",
                  destroy_user_session_path, :method => :delete, :class => "copyright-a"  %></li>
              <% else %>
                <li class="copyright-li"><%= link_to "Sign In", new_user_session_path, :class => "copyright-a"  %></li>
                <li class="copyright-li"><%= link_to "Sign Up", new_user_registration_path, :class => "copyright-a"  %></li>
              <% end %>
              <li class="copyright-li">
                <%= link_to 'Term of Service', info_term_path, :class => "copyright-a"  %>
              </li>
              <li class="copyright-li">
                <%= link_to 'Privacy Policy', info_privacy_path, :class => "copyright-a"  %>
              </li>
              <li class="copyright-li">
                <%= link_to 'DMCA', info_dmca_path, :class => "copyright-a"  %>
              </li>
              <li class="copyright-li">
                <%= link_to 'Contact', new_message_path, :class => "copyright-a"  %>
              </li>
            </ul>
            <p class= "copyright-p">Copyright © 2014 Teen's Digest. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
