<%= simple_form_for @publisher, html: { class: 'form-horizontal' } do |f| %>
  <div class='form-inputs'>
  <% if current_user.admin? %>
    <% if @selected_code != nil %>
    <%= f.input :code, :input_html => {:value => sprintf('%04d', @selected_code)} %>
    <% else %>
    <%= f.input :code %>
    <% end %>
    <%= f.input :user_id, label: "User",
          collection: User.all.map{ |r| [r.user_name, r.id ] }, 
          prompt: "Select user" %>
  <% end %>

    <%= f.input :name %>
    <%= f.input :payment, label: "Payment Method",
          collection: Publisher::PROPERTY_OPTIONS,
          selected: @publisher.payment,
          prompt: "Choose payment method" %>
    <div class="paypal" id="publisher-paypal-container"
      <% if @publisher.payment != 'Paypal' %>
        style="display: none;"
      <% end %>
      >
      <%= render partial: "payment_method_label",
        locals: {method: "Paypal",
                 warning: "It takes 3% fee for US transfer, 5% fee for International. (Fees are taken by Paypal not TeensDigest)"} %>
      <%= f.input :paypal_email, label: "Paypal Email" %>
    </div>
    <div class="us-checks" id="publisher-us-checks-container"
      <% if @publisher.payment != 'US Checks' %>
        style="display: none;"
      <% end %>
      >
      <%= render partial: "payment_method_label",
        locals: {method: "US Checks",
                 warning: "It takes $5 fee"} %>
      <%= f.input :checks_address, label: "Address" %>
      <%= f.input :checks_city, label: "City" %>
      <%= f.input :checks_state, label: "State" %>
      <%= f.input :checks_zipcode, label: "Zip Code" %>
    </div>
    <div class="us-bank-transfer" id="publisher-us-bank-transfer-container"
      <% if @publisher.payment != 'US Bank Transfer' %>
        style="display: none;"
      <% end %>
      >
      <%= render partial: "payment_method_label",
        locals: {method: "US Bank Transfer",
                 warning: "It takes $10 fee."} %>
      <%= f.input :bank_bank_name, label: "Bank Name" %>
      <%= f.input :bank_account_number, label: "Checking Account Number" %>
      <%= f.input :bank_routing_number, label: "Routing Number" %>
    </div>
    <div class="foreign-bank-transfer" id="publisher-foreign-bank-transfer-container"
      <% if @publisher.payment != 'Foreign Bank Transfer' %>
        style="display: none;"
      <% end %>
      >
      <%= render partial: "payment_method_label",
        locals: {method: "Foreign Bank Transfer",
                 warning: "It takes $45 fee."} %>
      <%= f.input :foreign_account_number, label: "Bank Name" %>
      <%= f.input :bank_account, label: "Bank Address" %>
      <%= f.input :foreign_address, label: "Your Address (Address on Bank Statement/Information)" %>
      <%= f.input :foreign_branch_sort_code, label: "Branch Sort Code" %>
      <%= f.input :foreign_bank_name, label: "Account Number" %>
      <%= f.input :foreign_swift_code, label: "SWIFT Code" %>
      <%= f.input :foreign_irc_code, label: "IRC (International Routing Code)" %>
      <%= f.input :foreign_iban_code, label: "IBAN (International Bank Account Number)" %>
      <%= f.input :real_currency, label: "Currency",
          collection: Publisher::CURRENCY_OPTIONS,
          selected: @publisher.real_currency,
          prompt: "Choose currency" %>
    </div>
    <div class="google-wallet" id="publisher-google-wallet-container"
      <% if @publisher.payment != 'Google Wallet' %>
        style="display: none;"
      <% end %>
      >
      <%= render partial: "payment_method_label",
        locals: {method: "Google Wallet",
                 warning: "It's free, but only available for US publishers."} %>
      <%= f.input :google_wallet_email, label: "Google Wallet Email"%>
    </div>
  <script type="text/javascript">
  $(document).ready(function(){
    $('#publisher_user_id').chosen();
  });
  </script>
  <div class='form-actions'>
    <%= f.submit "Submit", class: 'btn btn-danger' %>
  </div>
<% end %>
