<div class="affiliate-summary">
  <h3>Affiliate Summary</h3>
  <% if report_dictionary[publisher_domain] != nil %>
    <%= render partial: 'statistic_badge',
               locals: {badge_type: 'warning',
                        icon: 'eye',
                        label: 'Page views',
                        value: number_to_currency(report_dictionary[publisher_domain][:pageview] * threshold, :precision => 0, :unit => "") } %>

    <%= render partial: 'statistic_badge',
               locals: {badge_type: 'info',
                        icon: 'checkmark-circle',
                        label: 'Clicks',
                        value: number_to_currency(report_dictionary[publisher_domain][:clicks] * threshold, :precision => 0, :unit => "" ) } %>
    <%= render partial: 'statistic_badge',
               locals: {badge_type: 'success',
                        icon: 'coin',
                        label: 'Earning',
                        value: number_to_currency(report_dictionary[publisher_domain][:earning] * threshold)} %>
    <% if report_dictionary[publisher_domain][:pageview] > 1000 %>
      <%= render partial: 'statistic_badge',
                 locals: {badge_type: 'danger',
                          icon: 'stats',
                          label: 'CTR',
                          value: "%.2f%" % (report_dictionary[publisher_domain][:clicks] / report_dictionary[publisher_domain][:pageview] * 100)} %>

      <%= render partial: 'statistic_badge',
                 locals: {badge_type: 'inverse',
                          icon: 'info2',
                          label: 'RPM',
                          value: "$%.2f" % (report_dictionary[publisher_domain][:earning] / report_dictionary[publisher_domain][:pageview] * 1000 )} %>
    <% else %>
      <%= render partial: 'statistic_badge',
                 locals: {badge_type: 'danger',
                          icon: 'stats',
                          label: 'CTR',
                          value: 'N/A'} %>

      <%= render partial: 'statistic_badge',
                 locals: {badge_type: 'inverse',
                          icon: 'info2',
                          label: 'RPM',
                          value: 'N/A'} %>

    <% end %>
    <% if report_dictionary[publisher_domain][:clicks] != 0 &&
          report_dictionary[publisher_domain][:pageview] > 1000 %>
      <%= render partial: 'statistic_badge',
                 locals: {badge_type: 'inverse',
                          icon: 'info2',
                          label: 'CPC',
                          value: "$%.2f" % (report_dictionary[publisher_domain][:earning] / report_dictionary[publisher_domain][:clicks] )} %>
    <% else %>
      <%= render partial: 'statistic_badge',
                 locals: {badge_type: 'inverse',
                          icon: 'info2',
                          label: 'CPC',
                          value: 'N/A'} %>
    <% end %>
  <% else %>
    <%= render partial: 'statistic_badge',
               locals: {badge_type: 'inverse',
                        icon: 'eye',
                        label: 'Page views',
                        value: '0'} %>
    <%= render partial: 'statistic_badge',
               locals: {badge_type: 'inverse',
                        icon: 'checkmark-circle',
                        label: 'Clicks',
                        value: '0'} %>
    <%= render partial: 'statistic_badge',
               locals: {badge_type: 'inverse',
                        icon: 'coin',
                        label: 'Earning',
                        value: '$0'} %>
  <% end %>
</div>

