<div class="performance-graph">
  <h3>Performance Graph</h3>
  <div id="graphCanvas" >
  </div>
  <h4>Details</h4>
  <div id="statistic-detail">
    <table class="table table-bordered table-hover">
      <tr>
        <th>No.</th>
        <th>Date</th>
        <th class="number-col">Page views</th>
        <th class="number-col">Clicks</th>
        <th class="number-col">Estimated Earning</th>
      </tr>
      <% @tableData.each_with_index do |row, index| %>
      <tr>
        <td><%= index + 1%></td>
        <td><%= row[0] %></td>
        <td class="number-col"><%= row[1] %></td>
        <td class="number-col"><%= row[2] %></td>
        <td class="number-col">$<%= row[3] %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
