<% content_for :js do %>
  <%= javascript_include_tag 'publishers' %>
<% end %>
<div class="well" style="text-shadow: 0 1px 0 white;">
<ul class="breadcrumb">
  <li><a href="<%= publishers_path %>">Tracking System</a> <span class="divider">/</span></li>
  <li><a href="<%= publishers_path %>">Publishers</a> <span class="divider">/</span></li>
  <li class="active">Edit</li>
</ul>

<h3>Edit Information</h3>
<%= render 'form' %>
<% if current_user.admin? %>
  <%= link_to 'Back', publishers_path, class: 'btn btn-inverse' %>
<% else %>
  <%= link_to 'Back', publisher_path(@publisher), class: 'btn btn-inverse' %>
<% end %>
</div>
