<div class="message">
  <table>
    <tbody>
    <tr>
      <td>From</td>
      <td>
        <p class="from"><%= @message.name %><span class="email"><a href="mailto:<%= @message.email %>"><%= @message.email %></a></span></p>
      </td>
    </tr>
    <tr>
      <td>Username</td>
      <td>
        <p class="username"><%= @message.user.try(:user_name) || "Anonymous" %><span class="ip"><%= @message.ip %></span></p>
      </td>
    </tr>
    </tbody>
  </table>
  <p class="title"><%= @message.title %></p>
  <div class="body">
    <p><%= @message.body %></p>
  </div>
</div>
