<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5459a18c0cf8482a" async="async"></script>
<div class="row">
  <div class="columns">
    <div class="row collapse">
      <div class="columns small-12 medium-7 large-8">
        <div class="page feed color-0">
          <div class="header">
            <div class="row collapse">
              <div class="columns small-12 medium-4 large-3">
                <div class="info">
                  <p class="category">Info</p>
                  <p class="author"><i class="fa fa-user"></i> DuyLLC</p>
                  <p class="updated"><i class="fa fa-calendar"></i> Nov 3, 2014</p>
                </div>
              </div>
              <div class="columns small-12 medium-8 large-9">
                <h1 class="title"> Terms of Service </h1>
              </div>
            </div>
          </div>
          <div class="content">
            <div data-reveal-id="subscribe-modal" class="sharing right unfloat-for-small"> <div class="addthis_sharing_toolbox"></div></div>
            <div class="article">
<p>By using Teen's Digest at http://www.teensdigest.com (the "Service"), a you accept the following terms and
  conditions (the "Terms of Service"). Please also be aware of the Privacy Policy located on Teen's Digest. Usage of the service is also governed by the privacy policy. In case of inconsistency between the TOS and the privacy policy, these terms of service shall prevail.</p>
  <h4>USER REGISTRATION OBLIGATIONS</h4>
  <p>
  You agree that any and all information provided during the registration process ("Registration Data") is true, accurate, up to date and complete. You
  also agree to update and maintain Registration Data so that it is true, accurate, up-to-date and complete. Teen's Digest reserves the right to suspend or
  terminate your account, in whole or in part, or prohibit your further use of the Service, at any time. By posting your Teen's Digest channel on
  Facebook you agree to abide by the terms and policies set by these platforms for these kinds of content.
  </p>
  <h4>MEMBER ACCOUNT, PASSWORD, AND SECURITY</h4>
  <p>
  Upon completing the registration process you will receive a password and account ID. You and you alone are solely responsible for maintaining the
  confidentiality of your password and information associated with your account that you desire to remain confidential. You also agree that you are
  responsible for any and all activities that may take place, or occur under your password and account. You further agree to notify Teen's Digest in the event
  your password or account has been used without the proper authorization or there are other breaches of security of which you become aware. You also
  agree to exit from your account at the end of each session with the Service. Teen's Digest will not be responsible or liable for any loss or damage
  incurred, or later arising from your failure to comply with this section. Teen's Digest prohibits the sale or transfer of control of any Teen's Digest account by
  the registered account holder to any other individual or party.</p>
  <h4>COPYRIGHT</h4>
  <p>
  We claim no ownership of any intellectual property rights over the Content that you upload to the Service. Any intellectual property rights in the
  uploaded Content belong solely to you (or your licensors). However, by uploading the Content to the Service, you grant Teen's Digest a non-exclusive,
  royalty-free, worldwide, perpetual and irrevocable right to use, reproduce, modify, distribute, sublicense, and prepare derivative works of, such
  Content, in any format or medium now known or later developed, solely on and through the Service, subject to these Terms of Service and our privacy
  policy. You represent and warrant that you have sufficient rights to grant this license. You can remove your profile at any time by deleting your
  account which will remove all personally identifiable information. We will review all claims of copyright infringement received and remove the Content
  deemed to have been posted or distributed in violation of any such laws. To make a claim, please provide us with the following: </p>
  <ul>
    <li>A description of the copyrighted work that you claim has been infringed.;</li>
    <li>Info sufficient to enable Teen's Digest to locate the allegedly infringing Content on the Service;</li>
    <li>Your address, phone number and email address;</li>
    <li>Statement by you that you have good faith belief that the use of the Content is not authorized;</li>
    <li>Statement by you that the info in your notification is accurate and that you are the copyright owner or authorized to act on the copyright
    owner's behalf; and</li>
    <li>A signature of the person authorized to act on behalf of the owner of the copyright interest.</li>
  </ul>
  <p>Claims can be sent to Duy@DuyLLC.net</p>

  <h4>INDEMNITY</h4>
  <p>
  You agree to indemnify and hold harmless Teen's Digest, its affiliates, officers, agents, partners, and employees from any claim, action, demand, loss or
  damages (including attorneys' fees) made or incurred by any third party arising out of or relating to the Content you Upload, your use of the Service,
  your violation of these Terms of Service, or your violation of any rights of a third party.</p>
  <h4>LIMITATION OF LIABILITY</h4>
  <ul>
    <li>The Service and the Software are made available to you for your convenience on an "as is" and "as available" basis. Teen's Digest DOES NOT WARRANT OR
    MAKE ANY REPRESENTATIONS OR WARRANTIES (INCLUDING BUT NOT LIMITED TO MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, SATISFACTORY QUALITY,
    RELIABILITY OR NON-INFRINGEMENT) REGARDING THE USE OR THE RESULTS OF THE USE OR THE CONTENTS OF THE SERVICE OR THE SOFTWARE. Teen's Digest does not
    warrant or represent that the Software will be free of all viruses. You understand that the Service and the Software are still alpha/beta versions
    and may not perform with complete functionality, may be undergoing testing, may be inconsistently available, may have software "bugs" and may have
    other issues affecting availability and functionality. In addition to all other disclaimers and limitations of liability contained in these Terms of
    Use, you specifically agree that Teen's Digest is not liable for any of the above issues. Moreover, you understand that Teen's Digest does not warrant or
    represent that the Service and/or the Software will work on all mobile phones, will be compatible with all mobile phone networks and/or will be
    available in all geographical areas.</li>
    <li>We SHALL NOT BE LIABLE FOR ANY LOSS OR DAMAGE, WHETHER DIRECT, INDIRECT, SPECIAL OR CONSEQUENTIAL, ARISING OUT OF THE USE OF OR THE
    INABILITY TO USE THE SERVICE OR THE SOFTWARE, OR THE RESULTS OR THE CONTENTS THEREOF, TO THE GREATEST EXTENT PERMITTED BY LAW.</li>
    <li>If you are dissatisfied with the Service or the Software, or have any other disputes or claims with or against us with respect to the
    Service or the Software or these Terms of Use, then your sole and exclusive remedy is to discontinue using the Service and/or the Software.</li>
  </ul>
  <h4>PROHIBITED USES</h4>
  <p>
  You shall not, and shall not authorize or encourage any third party to:</p>
  <ul>
    <li>add images or link to any Web page or any Web site that contains any hate-related, violent, pornographic, adult or illegal content;</li>
    <li>"crawl", "spider", index or in any non-transitory manner store or cache information obtained from any Channel;</li>
    <li>disseminate malware;</li>
    <li>Get your account suspended by Facebook. Facebook suspension will automatically cause Teen's Digest suspension </li>
    <li>create a new account to use the Program after Teen's Digest has terminated this Agreement with You as a result of your breach of this Agreement;</li>
    <li>engage in any action or practice that reflects poorly on Teen's Digest or otherwise disparages or devalues Teen's Digest’s reputation or goodwill.</li>
    <li>Willfully violate the terms and conditions of any of the platforms we work with including Facebook and Youtube. </li>
    <li>act in any way that violates any Program Policies posted on the Teen's Digest Web Site, as may be revised from time to time, or any other agreement
    between You and the provides of the Teen's Digest service</li>
  </ul>
  <h4>NOTICES FROM Teen's Digest</h4>
  <p>
  From time to time, Teen's Digest may send notices to you via email or regular mail, or display notices or links to notices on the Service. We encourage you
  to read these notices and check for them on a regular basis, because these notices will apply to you and your account immediately upon posting,
  whether or not you actually review them.</p>
  <p>
  We are continuously developing the features and functionality of Teen's Digest. Consequently, we reserve the right to modify these terms of service at
  any time at our sole discretion. You agree to be bound to such alterations when you use Teen's Digest and the alterations shall be effective at the time of
  using Teen's Digest. It is important that you review these Terms of Service regularly on Teen's Digest to ensure you are updated on any modifications to
  these terms. If you are dissatisfied with or do not agree to abide by any altered Terms of Service, your sole remedy should be to close your account
  on Teen's Digest and discontinue use of our service. If you close your account, channels associated with your name will be marked as Anonymous and be
  disassociated with your account. All user statistics when you request account removal will be reset on removal of your account.</p>
            </div>
            <div class="sharing">
              <div data-reveal-id="subscribe-modal" class="addthis_sharing_toolbox"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns small-12 medium-5 large-4">
        <ul class="feeds small-block-grid-1">
          <li class="wow fadeIn">
          <%= render partial: "layouts/subscribe" %>
          </li>
        </ul>
        <div class="links-box">
          <h1 class="title">Readmore</h1>
          <ul class="links">
            <li><%= link_to "Term of Service", info_term_path %></li>
            <li><%= link_to "Privacy Policy", info_privacy_path %></li>
            <li><%= link_to "DMCA", info_dmca_path %></li>
            <li><%= link_to "Contact", new_message_path %></li>
          </ul>
        </div>
        <div class="facebook-box">
          <div class="info">
            <h1 class="title">Facebook</h1>
            <div class="content">
              <div data-href="https://www.facebook.com/FacebookDevelopers" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false" data-width="100%" data-height="350" class="fb-like-box"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
