doctype
html
  
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    title #{title} Magz
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Raleway:300,600,700,900")
    block css
  
  - var font = "'Raleway', sans-serif"
  - var fontFamily = "font-family: " + font + ";"
  - var width = "600px"
  - var bodyStyle = "background-color: white; margin: 0; padding 0;" + fontFamily + "line-height: 1.5em; font-size: 14px;"
  - var tableStyle = "padding: 0; margin: auto; text-align: left; width: " + width + "; background-color: #f7f7f7;"
  - var sectionStyle = "width: " + width + ";"
  - var contentStyle = sectionStyle + ""
  - var bottomStyle = sectionStyle + "text-align: right; background-color: white;"

  body(style=bodyStyle)

    table(style=tableStyle, cellspacing="0", cellpadding="0")
      tbody
        tr
          td
            section(style=contentStyle)
              block content
        tr
          td
            section(style=bottomStyle)
              div(style="background-color: #ddd; padding: 15px 20px; margin-top: 20px; text-align: right;")
                a(href="#", style="color: black; text-decoration: none; font-weight: bold;") Change notification settings
                | &nbsp;&nbsp;|&nbsp;&nbsp;
                a(href="#", style="color: black; text-decoration: none; font-weight: bold;") Privacy Policy
                | &nbsp;&nbsp;|&nbsp;&nbsp;
                a(href="#", style="color: black; text-decoration: none; font-weight: bold;") Contact Support
                p(style="margin: 0; padding: 0; font-size: 13px;") 441 Logue Avenue, Mountain View, CA 94043 © 2014 Teensdigest
              div(style="margin: 0; padding: 30px 0 0 0; text-align: left; background-color: white;")
                a(style="text-decoration: none; display: inline-block; color: black;", href="index.html")
                  h1(style="margin: 0; color: black; font-size: 25px;") TEENSDIGEST
                  p(style="margin: 0; color: #444; font-size: 11px; letter-spacing: 3px;") CHANNEL FOR TEENS
