<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5459a18c0cf8482a" async="async"></script>
<div class="row">
  <div class="columns">
    <div class="row collapse">
      <div class="columns small-12 medium-7 large-8">
        <div class="page feed color-0">
          <div class="header">
            <div class="row collapse">
              <div class="columns small-12 medium-4 large-3">
                <div class="info">
                  <p class="category">Info</p>
                  <p class="author"><i class="fa fa-user"></i> DuyLLC</p>
                  <p class="updated"><i class="fa fa-calendar"></i> Nov 3, 2014</p>
                </div>
              </div>
              <div class="columns small-12 medium-8 large-9">
                <h1 class="title">Copyright & DMCA Guidelines</h1>
              </div>
            </div>
          </div>
          <div class="content">
            <div data-reveal-id="subscribe-modal" class="sharing right unfloat-for-small">
              <div class="addthis_sharing_toolbox"></div>
            </div>
            <div class="article">
              <p>The following may be interpreted as DuyLLC's (hereafter 'the Service') policy towards copyright infringement on the Service in accordance with the Digital Millenium Copyright Act (hereafter 'DMCA'). The address of DuyLLC' Designated Agent for copyright takedown notices ('Designated Agent') is listed below.</p>
              <h4>Reporting Instances of Infringement</h4>
              <p>If you believe copyright infringing Content is on or accessible through the Service, please send a notice of infringement of copyright containing the following information to the Designated Agent at the address listed below:</p>
              <ul>
                <li>Identify the material or work being infringed.</li>
                <li>Identify the material that is claimed to be infringing. This includes its location and enough detail so DuyLLC will be able to accurately locate it.</li>
                <li>Contact information for the notifying party.</li>
                <li>A statement that the Notifying party has a good faith belief that the material is not authorized by the copyright owner, its agent or law.</li>
                <li>A statement made under penalty of perjury that the information provided is accurate and that the Notifying Party is authorized to make the complaint on behalf of the copyright owner.</li>
                <li>A signature of the person authorized to act on behalf of the owner of the copyright, or the owner of the copyright that has been allegedly infringed.</li>
              </ul>
              <p>After DuyLLC removes material persuant to the DMCA notice, DuyLLC will notify the user responsible for uploading the material that access to said material has been revoked. DuyLLC reserves the right to immediately and without prior notification terminate accounts on the Service for copyright infringement, especially those which are the subject of repeat DMCA notifications.</p>
              <h4>How To Submit a DMCA Counter-Notification</h4>
              <p>You may file a counter-notification to DuyLLC if you believe material you have submitted to the Service has been the wrongful subject of a DMCA notification. Please provide the following information to the Designated Agent, listed below:</p>
              <ul>
                <li>Specific URLs which refer to the material which was removed or to which access has been disabled.</li>
                <li>Your name, address, telephone number, and email address.</li>
                <li>You must include a statement consenting to the jurisdiction of Federal District Court for the judicial district in which your address is located (or the federal district courts located in Prince William County, Virginia if you are located outside of the United States). You must further agree to accept service of process from the original DMCA complaintant or the agent(s) of the original complaintant.</li>
                <li>You must also swear under penalty of perjury that you have a good-faith belief that the material in question was removed or access to the material was disabled only as a result of a mistake or misidentification.</li>
              </ul>
              <h4>Designated Agent</h4>
              <p>DuyLLC<br><b>ATTN: </b>DCMA Agent<br><b>EMAIL: </b>Duy@DuyLLC.net</p>
            </div>
            <div class="sharing">
              <div data-reveal-id="subscribe-modal" class="addthis_sharing_toolbox"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns small-12 medium-5 large-4">
        <ul class="feeds small-block-grid-1">
          <li class="wow fadeIn">
            <%= render partial: "layouts/subscribe" %>
          </li>
        </ul>
        <div class="links-box">
          <h1 class="title">Readmore</h1>
          <ul class="links">
            <li><%= link_to "Term of Service", info_term_path %></li>
            <li><%= link_to "Privacy Policy", info_privacy_path %></li>
            <li><%= link_to "DMCA", info_dmca_path %></li>
            <li><%= link_to "Contact", new_message_path %></li>
          </ul>
        </div>
        <div class="facebook-box">
          <div class="info">
            <h1 class="title">Facebook</h1>
            <div class="content">
              <div data-href="https://www.facebook.com/FacebookDevelopers" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false" data-width="100%" data-height="350" class="fb-like-box"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
