<div id="mobile-menu" class="overlay hidden">
  <div id="mobile-popup" style="left: -320px;">
    <div id="mobile-popup-header">
      <i class="icon-close" id="mobile-popup-close" style="cursor: pointer;"></i>
    </div>
    <div id="mobile-popup-content">
      <div id="mobile-popup-content-inner">
          <div id="mobile-copyright">
            <ul>
              <li class="copyright-li">
              <%= link_to "Home", root_path, :title => "Home page", :class => "icon-home copyright-a" %>
              </li>
              <li class="copyright-li">
              <%= link_to "Random", random_path, :title => "Random", :class => "icon-shuffle copyright-a" %>
              </li>
              <li class="copyright-li">
              <%= link_to "Popular",
                { :controller => '/popular', :action => :article_index },
                :class => "icon-arrow-down copyright-a" %>
              </li>
              <% for category in Category.order('name ASC') %>
                  <li class="copyright-li">
                    <a class="icon-tag copyright-a" href="<%= articles_path(:category=>category.id) %>"><%= category.name %></a>
                  </li>
              <% end %>
            </ul>
            <p class="copyright-p">Copyright © 2014 Teen's Digest. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
