<!DOCTYPE html>
<html>
<head>
  <title>Teensdigest</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "datepicker" %>
  <%= javascript_include_tag "jquery-1.10.2.min" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= javascript_include_tag "chosen.jquery.min" %>
  <%= javascript_include_tag "bootstrap-datepicker" %>
  <%= javascript_include_tag "teensdigest.datepicker" %>
  <%= yield :js %>
  <%= csrf_meta_tags %>
</head>
<body id="tracking-page">
  <%= render 'layouts/trackings_topbar'%>
  <div id="publishers-container">

  <div>
      <%= yield %>
  </div>
  </div>
</body>
</html>

<style type="text/css">
  #notice{
    margin-left: 10px;
    width: 890px;
  }
</style>
